<div class=" col-md-3">
<h1>Nuevo Tipo de Inmueble</h1>
</div><br>


<%= render 'form', typeinmu: @typeinmu %>
<br>
<%= link_to 'Tipos de Inmuebles', typeinmus_path, :class => ' btn btn-default col-md-2' %>
